@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-slate-200;
}

body {
  @apply text-slate-800 dark:text-slate-100;
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable-report,
  .printable-report * {
    visibility: visible;
  }

  .printable-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
